/* =Styles for 'heading' field
-------------------------------------------------------------- */

.the7-mb-heading-wrapper h4 {
	display: block;
	font-size: .75rem;
	line-height: 1.4;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
